@{
    ViewData["Title"] = "MiniLibrary";
}
<h1>@ViewData["Title"]</h1>
<div id="about">
    <h2>About Us</h2>
    <p>Welcome to MiniLibrary, your go-to destination for exploring a wide range of books. Our mission is to provide an accessible and convenient platform for book lovers to discover, borrow, and enjoy a diverse collection of literature. With MiniLibrary, you can access a variety of genres and titles, all at your fingertips.</p>
    <p>Our team is dedicated to creating a seamless experience for both readers and authors. We believe in the power of knowledge and imagination, and our platform is designed to foster a vibrant community of literary enthusiasts. Join us on this journey to embark on new literary adventures.</p>
    <p>Thank you for being a part of MiniLibrary!</p>
</div>