@{
    ViewData["Title"] = "MiniLibrary";
}
<h1>@ViewData["Title"]</h1>
<div id="contact">
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or feedback, feel free to reach out to us. We value your input and are always here to assist you. You can contact us through the following methods:</p>
    <ul>
        <li>Email: <a href="mailto:info@minilibrary.com">info@minilibrary.com</a></li>
        <li>Phone: 123-456-7890</li>
        <li>Social Media: Find us on <a href="https://www.facebook.com/minilibrary">Facebook</a> and <a href="https://twitter.com/minilibrary">Twitter</a></li>
    </ul>
    <p>We look forward to hearing from you!</p>
</div>