@{
    ViewData["Title"] = "MiniLibrary";
}
<h1>@ViewData["Title"]</h1>
<div id="privacy">
    <h2>Privacy Policy</h2>
    <p>
        At MiniLibrary, we highly value your privacy and are committed to ensuring the security and confidentiality of your personal information. This privacy policy outlines how we collect, use, and protect the data you provide while using our platform.
    </p>
    <p>
        <h3>Information Collection:</h3>
        We collect minimal necessary information to provide you with an optimal library experience. This may include your name, email address, and basic profile information. We do not collect sensitive personal information without your explicit consent.
    </p>
    <p>
        <h3>Usage of Data:</h3>
        The information we collect is used solely for purposes directly related to the functioning of MiniLibrary. This includes managing your account, facilitating book borrowing, and improving our services. We do not share or sell your personal data to third parties for marketing purposes.
    </p>
    <p>
        <h3>Data Security:</h3>
        We employ industry-standard security measures to safeguard your data from unauthorized access, alteration, or disclosure. Our technical and administrative protocols ensure the protection of your personal information.
    </p>
    <p>
        <h3>Control and Transparency:</h3>
        You have control over the information you provide to us. You can update your profile information and privacy settings at any time. We provide transparency about the data we collect and how it's used in our full privacy policy.
    </p>
    <p>
        <h3>Third-party Integration:</h3>
        At times, MiniLibrary may integrate with third-party services to enhance your experience. Please review the privacy policies of these services, as they have their own terms regarding data collection and usage.
    </p>
    <p>
        <h3>Policy Updates:</h3>
        Our privacy policy may be updated to reflect changes in regulations or services. We will notify you of any significant changes and provide an updated policy on our website.
    </p>
    <p>
        By using MiniLibrary, you agree to the terms outlined in this privacy policy. If you have any questions or concerns about your privacy or data security, please don't hesitate to contact us.
    </p>
</div>